<div class="landing-nav">
    <div class="nav-element-1">
        <h1 class="fw-bold" style="margin: 1.2vh 0;">Recipe Hub</h1>
    </div>
    <div class="nav-element-2">
        <a routerLink="/login"><button style="margin: 1vh 0;" class="button">Log In</button></a>
    </div>
</div>

<div class="content-container">
    <div class="content-row">
        <div class="content-col one">
            <div>
                <h2 class="smart">Your smart cooking side <br> kick</h2>
                <p style="margin: 1.5vh 0; color: rgba(0,0,0,0.7);">Recipe Hub provides you with recipe <br> recommendations for both local <br> and international meals from all cultures. We <br> help you improve your kitchen experience.</p>
                <a routerLink="/signup"><button class="button">Join now for free</button></a>
            </div>
        </div>
        <div class="content-col two">
            <!-- Hello -->
        </div>
    </div>
</div>