<app-navbar></app-navbar>
<div class="profilebg container">
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-6 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img
            class="mt-5"
            width="150"
            height="150"
            style="border-radius: 50%; object-fit: cover;"
            src="https://res.cloudinary.com/daiff3l9v/{{userProfile.profile_img}}"
          /><span class="font-weight-bold">
            <div></div>
          </span>
          <span class="h2 fw-bold">{{ currentUser.username }}</span
          ><span class="text-black-50" *ngIf="currentUser.email; then email else default">
            </span>
              <ng-template #email>
                <span>{{ currentUser.email }}</span>
              </ng-template>

              <ng-template #default>
                <span>You have not updated email yet</span>
              </ng-template>

              <span class="text-black-50" *ngIf="userProfile.mobile_no; then mobile_no else default2">
              </span>
                <ng-template #mobile_no>
                  <span>{{ userProfile.mobile_no }}</span>
                </ng-template>
  
                <ng-template #default2>
                  <span>Mobile no. not updated yet!</span>
                </ng-template>
          
              <span class="text-black-50" *ngIf="userProfile.bio; then bio else default1">
              </span>
                <ng-template #bio>
                  <span>{{ userProfile.bio }}</span>
                </ng-template>
  
                <ng-template #default1>
                  <span>User bio not updated yet!</span>
                </ng-template>
                
                <span>
                  {{userProfile.city}}
                </span>
                <span>
                  {{userProfile.country}}
                </span>
        </div>
      </div>
      <div class="col-md-6 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right" style="color: #D52B32;"><strong>UPDATE PROFILE</strong></h4>
          </div>

          <form novalidate>
            <div class="row mt-2">
              <!-- <fieldset> -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>FirstName</label>
                  <input
                    type="text"
                    class="form-control"
                    name="firstName"
                    ngModel
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>LastName</label>
                  <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    ngModel
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Profile picture</label>
                  <input type="file" placeholder="Select profile picture">
                </div>
              </div>
              <!-- </fieldset> -->
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">Mobile Number</label
                  ><input
                    type="text"
                    class="form-control"
                    placeholder="enter phone number"
                    value=""
                    ngModel
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    ngModel
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>City</label>
                  <input
                    type="text"
                    class="form-control"
                    name="City"
                    value="City"
                    ngModel
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Country</label>
                  <input
                    type="text"
                    class="form-control"
                    name="Country"
                    ngModel
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleFormControlTextarea6">Bio</label>
                  <textarea
                    class="form-control z-depth-1"
                    id="exampleFormControlTextarea6"
                    rows="3"
                    placeholder="Write something here..."
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="mt-5 text-center">
              <button class="btn btn-primary profile-button" type="button">
                Save Profile
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<ngx-ui-loader fgsColor="#f7373d" pbColor="#f7373d"></ngx-ui-loader>