/* You can add global styles to this file, and also import other style files */
.one h3{
    color: #D52B32;
}
.dot{
    font-size: 50px;
    color: #D52B32;
}
li{
    list-style: none;
}
/* img{
    height: 30vh;
    width: 20vw;
} */
.center{
    background-color: white;
}
body{
    background-color: #9B9A96;
}
