<div class="cont" style="background-color: #ECEDF3;">
    <div class="container">
        <div class="row min-vh-100">
            <div class="col-lg-8 mx-auto my-5" style="background-color: #fff;">
                <h2 class="text-center color py-4 fw-bold">Share a Recipe </h2> <hr>

                <!-- form start -->
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="row g-3 align-items-around my-3">
                        <div class="col-4">
                            <label for="name" class="col-form-label">Recipe Name</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="name" class="form-control">
                        </div>
                    </div>

                    <div class="row g-3 align-items-around my-3">
                        <div class="col-4">
                            <label for="dish" class="col-form-label">Dish Type</label>
                        </div>
                        <div class="col-8">
                            <select class="form-select" id="dish" aria-label="Default select example">
                                <option selected>Select dish type</option>
                                <option value="1">Main Dish</option>
                                <option value="2">Side Dish</option>
                                <option value="3">Appetizer</option>
                                <option value="3">Soup</option>
                                <option value="3">Salad</option>
                                <option value="3">Dessert</option>
                                <option value="3">Drink</option>
                              </select>
                        </div>
                    </div>

                    <div class="row g-3 align-items-around my-3">
                        <div class="col-4">
                            <label for="prep-time" class="col-form-label">Preparation Time</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="prep-time" class="form-control" placeholder="e.g. 20 mins">
                        </div>
                    </div>

                    <div class="row g-3 align-items-around my-3">
                        <div class="col-4">
                            <label for="prep-time" class="col-form-label">No. of Servings</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="prep-time" class="form-control" placeholder="e.g. 5">
                        </div>
                    </div>

                    <div class="row g-3 align-items-around my-3">
                        <div class="col-4">
                            <label for="prep-time" class="col-form-label">Cooking Time</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="prep-time" class="form-control" placeholder="e.g. 40 mins">
                        </div>
                    </div>

                    <div class="row g-3 align-items-around my-3">
                        <div class="col-4">
                            <label for="prep-time" class="col-form-label">Image</label>
                        </div>
                        <div class="col-8">
                            <input type="file" id="prep-time" class="form-control">
                        </div>
                    </div>

                    <div class="row g-3 align-items-around my-3">
                        <div class="col-4">
                            <label for="ingredients" class="col-form-label">Ingredients</label>
                        </div>
                        <div class="col-8">
                            <textarea class="form-control" name="" id="ingredients" rows="10" placeholder="Type all ingredients here..."></textarea>
                        </div>
                    </div>

                    <div class="row g-3 align-items-around my-3">
                        <div class="col-4">
                            <label for="ingredients" class="col-form-label">Instructions</label>
                        </div>
                        <div class="col-8">
                            <textarea class="form-control" name="" id="ingredients" rows="10" placeholder="Type all Instructions here..."></textarea>
                        </div>
                    </div>

                    <div class="text-center">
                        <button style="margin: 1vh 0;" class="button">Submit</button>
                    </div>
                </form>
                <!-- form end -->
            </div>
        </div>
    </div>
</div>