<section>
  <app-navbar></app-navbar>
  <div class="homepage container-fluid text-white p-0">
    <div
      class="container-fluid justify-content-evenly d-flex align-items-end content"
    >
      <div class="text">
        <h1>World of Recipes</h1>
        <p>
          Don’t be afraid to adapt new ingredients into your own techniques, and
          traditional ingredients into new recipes.
        </p>
      </div>
      <div class="review mb-4">
        <div class="rating">
          <div style="margin-left: 0.5rem" class="circle">
            <div class="inner-circle">
              <div class="mydiv">
                <h2>5</h2>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <p>268 reviews</p>
        </div>
        <button type="button" class="btn btn-outline-light">Show Recipe</button>
      </div>
    </div>
    <div class="bottom-icons col-md-12 text-center mt-5">
      <i class="fa fa-minus"></i>
      <i class="fa fa-circle"></i>
      <i class="fa fa-circle"></i>
    </div>
  </div>
  <div class="container-fluid shadow-sm">
    <div class="box-container container">
      <div class="row">
        <div
          class="box col-lg-3 col-md-3 text-center border-end border-start border-dark"
        >
          <i class="fa fa-ice-cream p-3 col-sm-12"></i>
          <p>Main dishes</p>
        </div>
        <div
          class="box col-lg-3 col-md-3 col-sm-12 text-center border-end border-dark"
        >
          <i class="fa fa-ice-cream p-3"></i>
          <p>Soup</p>
        </div>
        <div
          class="box col-lg-3 col-md-3 col-sm-12 text-center border-end border-dark"
        >
          <i class="fa fa-ice-cream p-3"></i>
          <p>Beverages</p>
        </div>
        <div
          class="box col-lg-3 col-md-3 col-sm-12 text-center border-end border-dark"
        >
          <i class="fa fa-ice-cream p-3"></i>
          <p>Desserts</p>
        </div>
      </div>
    </div>
  </div>

  <section class="featured-section container mt-5">
    <div class="featured row">
      <div class="col-md-6">
        <img
          class="img-fluid rounded-circle"
          style="height: 30rem; width: 100%"
          src="https://res.cloudinary.com/daiff3l9v/{{ featured.image }}"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="featured-content">
          <div class="featured-text">
            <h3>Featured Recipe</h3>
            <div class="inner-div d-flex align-items-center">
              <h2>{{ featured.recipe_name }}</h2>
              <div class="circle">
                <div class="inner-circle" style="background-color: #d52b32">
                  <div class="mydiv text-white">
                    <h2>5</h2>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="user-content d-flex justify-content-between align-items-center"
            >
              <div
                class="user-img d-flex border-end border-dark align-items-center gap-2"
                style="flex-basis: 35%"
              >
                <img
                  style="width: 35px; height: 35px"
                  class="rounded-circle"
                  src="../../assets/images/profile.jpg"
                  alt=""
                />
                <div class="d-flex flex-column">
                  <span class="fw-bold">Recipe by: </span>
                  <span>{{ featured.posted_by.username }}</span>
                </div>
              </div>
              <div class="time border-end border-dark" style="flex-basis: 25%">
                <p>{{ featured.prep_time_mins }} minutes</p>
              </div>
              <div class="level">
                <p>Easy</p>
              </div>
            </div>
            <div class="description my-3">
              <p class="fs-5">
                {{ featured.description | summary }}
              </p>
            </div>
            <button class="btn btn-outline-danger" routerLink="/recipe-detail">
              View Recipe Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-us mt-5">
    <div class="container">
      <h2 class="pb-2" style="color: #d52b32">About Us</h2>
      <div class="row">
        <div class="col-md-12 col-lg-6 col-sm-12">
          <h2 class="pb-3" style="font-size: 2.3rem; font-weight: bold">
            Learn More About Us and Our Community
          </h2>
          <p style="font-size: 1.2rem">
            We as the Recipe Hub are committed to bring all your favorite
            recipes to your own reach for free and you can also share your
            favorite recipe to others for them to enjoy too thanks.
            <br />
            <br />
            Feel free to reach us out on our social media profiles and if
            anything please let us know in advance we will rectify.
          </p>
          <button class="btn btn-danger">View our Forums</button>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12 d-flex" style="gap: 0.5rem">
          <div class="img1 align-self-center">
            <div>
              <img class="img-fluid" src="../../assets/images/r1.jpg" alt="" />
            </div>
          </div>
          <div class="multiple-images">
            <div>
              <img
                class="img-fluid mb-3"
                src="../../assets/images/r2.jpg"
                alt=""
              />
            </div>
            <div>
              <img class="img-fluid" src="../../assets/images/r3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mb-4 mt-5">
    <div class="popular-content text-center mb-5">
      <h1>Popular-Recipes</h1>
      <p>
        See hundreds of Tasty food with <br />photos and tips on how to make
        them
      </p>
      <p style="color: #d52b32">
        View all popular recipe <i class="fa fa-arrow-right"></i>
      </p>
    </div>
    <div class="row popular-recipes mb-3">
      <div
        routerLink="/recipe-detail"
        *ngFor="let recipe of recipes.reverse() | slice: 0:6"
        class="col-md-6 col-sm-12 col-lg-4 recipe-box mb-3"
      >
        <div class="image">
          <img
            class="img-fluid rounded"
            style="width: 100%"
            src="https://res.cloudinary.com/daiff3l9v/{{ recipe.image }}"
            alt=""
          />
          <div class="circle">
            <div class="inner-circle">
              <div class="mydiv">
                <h2>5</h2>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="popular-card-content">
          <h4 routerLink="/recipe-detail">{{ recipe.recipe_name }}</h4>
          <p>
            {{ recipe.description | summary }}
          </p>
        </div>
        <div class="popular-user-content d-flex border-top border-bottom pt-2">
          <img
            class="img-fluid rounded-circle"
            style="width: 45px; height: 45px; margin-right: 2rem"
            src="../../assets/images/profile.jpg"
            alt=""
          />
          <div class="popular-user-name">
            <h5>{{ recipe.posted_by.username }}</h5>
            <p>Star Chef</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6 col-sm-12 col-lg-4 recipe-box mb-3">
        <div class="image">
          <img
            class="img-fluid rounded"
            src="../../assets/images/popular.jpg"
            alt=""
          />
          <div class="circle">
            <div class="inner-circle">
              <div class="mydiv">
                <h2>5</h2>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="popular-card-content">
          <h4>Vegetable Kebab</h4>
          <p>
            Lorem ipsum dolor sit amet consecetur asipiscing elit, sed do
            elusmod tempor
          </p>
        </div>
        <div class="popular-user-content d-flex border-top border-bottom pt-2">
          <img
            class="img-fluid rounded-circle"
            style="width: 45px; height: 45px; margin-right: 2rem"
            src="../../assets/images/profile.jpg"
            alt=""
          />
          <div class="popular-user-name">
            <h5>Nicole Reyes</h5>
            <p>Star Chef</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-4 recipe-box mb-3">
        <div class="image">
          <img
            class="img-fluid rounded"
            src="../../assets/images/popular.jpg"
            alt=""
          />
          <div class="circle">
            <div class="inner-circle">
              <div class="mydiv">
                <h2>5</h2>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="popular-card-content">
          <h4>Vegetable Kebab</h4>
          <p>
            Lorem ipsum dolor sit amet consecetur asipiscing elit, sed do
            elusmod tempor
          </p>
        </div>
        <div class="popular-user-content d-flex border-top border-bottom pt-2">
          <img
            class="img-fluid rounded-circle"
            style="width: 45px; height: 45px; margin-right: 2rem"
            src="../../assets/images/profile.jpg"
            alt=""
          />
          <div class="popular-user-name">
            <h5>Nicole Reyes</h5>
            <p>Star Chef</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-4 recipe-box mb-3">
        <div class="image">
          <img
            class="img-fluid rounded"
            src="../../assets/images/popular.jpg"
            alt=""
          />
          <div class="circle">
            <div class="inner-circle">
              <div class="mydiv">
                <h2>5</h2>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="popular-card-content">
          <h4>Vegetable Kebab</h4>
          <p>
            Lorem ipsum dolor sit amet consecetur asipiscing elit, sed do
            elusmod tempor
          </p>
        </div>
        <div class="popular-user-content d-flex border-top border-bottom pt-2">
          <img
            class="img-fluid rounded-circle"
            style="width: 45px; height: 45px; margin-right: 2rem"
            src="../../assets/images/profile.jpg"
            alt=""
          />
          <div class="popular-user-name">
            <h5>Nicole Reyes</h5>
            <p>Star Chef</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-4 recipe-box mb-3">
        <div class="image">
          <img
            class="img-fluid rounded"
            src="../../assets/images/popular.jpg"
            alt=""
          />
          <div class="circle">
            <div class="inner-circle">
              <div class="mydiv">
                <h2>5</h2>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="popular-card-content">
          <h4>Vegetable Kebab</h4>
          <p>
            Lorem ipsum dolor sit amet consecetur asipiscing elit, sed do
            elusmod tempor
          </p>
        </div>
        <div class="popular-user-content d-flex border-top border-bottom pt-2">
          <img
            class="img-fluid rounded-circle"
            style="width: 45px; height: 45px; margin-right: 2rem"
            src="../../assets/images/profile.jpg"
            alt=""
          />
          <div class="popular-user-name">
            <h5>Nicole Reyes</h5>
            <p>Star Chef</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-4 recipe-box mb-3">
        <div class="image">
          <img
            class="img-fluid rounded"
            src="../../assets/images/popular.jpg"
            alt=""
          />
          <div class="circle">
            <div class="inner-circle">
              <div class="mydiv">
                <h2>5</h2>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="popular-card-content">
          <h4>Vegetable Kebab</h4>
          <p>
            Lorem ipsum dolor sit amet consecetur asipiscing elit, sed do
            elusmod tempor
          </p>
        </div>
        <div class="popular-user-content d-flex border-top border-bottom pt-2">
          <img
            class="img-fluid rounded-circle"
            style="width: 45px; height: 45px; margin-right: 2rem"
            src="../../assets/images/profile.jpg"
            alt=""
          />
          <div class="popular-user-name">
            <h5>Nicole Reyes</h5>
            <p>Star Chef</p>
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <app-footer></app-footer>
</section>
