
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="center mt-5">
                <div class="row">
                    <div class="container">
                        <h3 class="text-center">{{recipe.dish_type}}</h3>
                        <div class="one mt-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{{recipe.image}}" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                    <h2>{{recipe.recipe_name}}</h2>
                                    <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>  <i class="fa-solid fa-star"></i>
                                    <br/>
                                    <p>Author : {{recipe.posted_by.username}}</p>
                                    <p>Prep time : {{recipe.prep_time_mins}} mins</p>
                                    <p>Cook time : {{recipe.cooking_time_mins}} mins</p>
                                    <p>Serves : {{recipe.no_of_servings}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                             
                        
                        <hr />
                        <div class="two">
                            <div class="container">
                            <div class="row">
                                <h3>DESCRIPTION</h3>
                                <p>This simple green salad is loaded up with zesty roasted chickpeas, cucumber,
                                    avocado, feta cheese, fresh herbs, and a tangy lemon vinaigrette.</p>
                            </div>
                        </div>
                        </div>
                        <hr />
                        <div class="three">
                            <div class="container">
                            <h3>INGREDIENTS</h3>
                            <ul>
                                <li>
                                    <p><span class="dot">. </span>{{recipe.ingredients}}</p>
                                </li>
                            </ul>
                            </div>
                        </div>
                        <hr/>
                       
                        <div class="four">
                            <div class="container">
                                <h3>INSTRUCTIONS</h3>
                                <ul>
                                    <li>
                                        <p> <span class="dot">. </span>{{recipe.instructions}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

