<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="center mt-5">
                <div class="row">
                    <div class="container">
                        <h3 class="text-center">SALAD</h3>
                        <div class="one mt-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="../assets/chickpea.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h2>ROSTED CHICKPEA SALAD</h2>
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i
                                            class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i
                                            class="fa-solid fa-star"></i>
                                        <br />
                                        <p>Author : Juan</p>
                                        <p>Prep time : 5 mins</p>
                                        <p>Cook time : 40 mins</p>
                                        <p>Serves : 4 - 6</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="two">
                            <div class="container">
                            <div class="row">
                                <h3>DESCRIPTION</h3>
                                <p>This simple green salad is loaded up with zesty roasted chickpeas, cucumber,
                                    avocado, feta cheese, fresh herbs, and a tangy lemon vinaigrette.</p>
                            </div>
                        </div>
                        </div>
                        <hr />