<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="col-md-12 mx-auto mt-5">
                <h1 style="color: #D52B32;" class="fw-bold">About Us</h1><hr>
            </div>
        </div>
        <div class="col-md-8 mx-auto shadow">
            <div class="row my-5">
                
            </div>
            <div class="row justify-content-center">
                
                <div class="col-md-6 my-5 center">
                   <div>
                        <h3 style="color: #D52B32;">Who are We</h3>
                        <p>
                            This is an online platform the welcomes individual from accross the world who are interested in exploring different recipes and foods from diffent diverse cultures.
                        </p>
                   </div>
                </div>
                <div class="col-md-6 my-5">
                    <img src="../../assets/images/r3.jpg" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;" alt="">
                </div>
            </div>
            <div class="row justify-content-center">
                
                <div class="col-md-6 center order-last">
                    <div>
                        <h3 style="color: #D52B32;">What We Do</h3>
                        <p>
                            We bring together diffent cultures, diverse communities and individuals who are intrested to share and uphold a healthy living lifestyle.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 order-first">
                    <img src="../../assets/images/businessman-giving-money-man-chef-in-bakery-shop-vector-22498143.jpg" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;" alt="">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 mx-auto ">
                    
                </div>
            </div>
            <div class="row justify-content-center">
                
                <div class="col-md-6 center">
                    <div>
                        <h3 style="color: #D52B32;">Benefits of joining our community</h3>
                        <ul>
                            <li>You get insights on how to improve your cooking skills on diverse recipes both local and internations</li>
                            <li>You get to interract with other individuals with similar interests</li>
                            <li>You can share different recipes with your friends and family on social media.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 my-5">
                    <img src="../../assets/images/happy-man-flipping-pancakes-making-breakfast-vector-36716627.jpg" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;" alt="">
                </div>
        </div>
        
        <div class="row">
            <div class="col quote" style="min-height: 50vh;">
                <h3></h3>
            </div>
        </div>
    </div>
    </div>
</div>
<app-footer></app-footer>
<ngx-ui-loader fgsColor="#f7373d" pbColor="#f7373d"></ngx-ui-loader>