<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 drive"></div>
        <div class="col-md-6">
            <div class="center mt-5">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="col-md-3">
                            <img src="../assets/food3.jpg" alt="recipe-name">
                        </div>
                        <div class="col-md-9">
                            <h2>ROSTED CHICKPEA SALAD</h2>
                            <p>Author : Juan</p>
                            <p>Prep time : 5 mins</p>
                            <p>Cook time : 40 mins</p>
                            <p>Serves : 4 - 6</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 drive"></div>
    </div>
</div>



<!-- <div class="container">
    <div class="one mt-5">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="col-md-2">
                    <img src="../assets/food3.jpg" alt="food_image" width="90vw" height="90vh">
                </div>
                <div class="col-md-10">
                    <h2>ROSTED CHICKPEA SALAD</h2>
                    <p>Author : Juan</p>
                    <p>Prep time : 5 mins</p>
                    <p>Cook time : 40 mins</p>
                    <p>Serves : 4 - 6</p>
                </div>
            </div>
        </div>
        
        
    </div>
    <hr />
    <div class="two">
        <div class="row">
        <h3>Description</h3>
        <p>This simple green salad is loaded up with zesty roasted chickpeas, cucumber, 
            avocado, feta cheese, fresh herbs, and a tangy lemon vinaigrette.</p>
        </div>
    </div>
    <hr/>
    <div class="three">
        <h3>INGREDIENTS</h3>
        <h4>SALAD INGREDIENTS</h4>
        <ul>
            <li *ngFor="let ingredient of singredients">
                <p><span class="dot">.</span>{{ingredient.name}}</p>
            </li>
        </ul>
        
        
        <h4>VINAIGRETTE INGREDIENTS</h4>
        <ul>
            <li *ngFor="let ingredient of vingredients">
                <p><span class="dot">.</span>{{ingredient}}</p>
            </li>
        </ul>
    </div>
    <hr/>
    <div class="four">
        <div class="row">
            <h3>INSTRUCTIONS</h3>
            <p><strong>Make the vinaigrette.</strong>Whisk all ingredients together in a small bowl (or
                shake all ingredients together vigorously in a sealed jar) until completely combined.</p>
        </div>
    </div>
    </div> -->
    