<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="center mt-5">
                <div class="row">
                    <div class="container">
                        <div class="one">
                            <div class="container">
                            <div class="col-md-8 d-flex">
                                <div class="col-md-4">
                                    <img src="../assets/food3.jpg" alt="recipe-name" width="300px" height="300px">
                                </div>
                                <div class="col-md-8">
                                    <h2>ROSTED CHICKPEA SALAD</h2>
                                    <p>Author : Juan</p>
                                    <p>Prep time : 5 mins</p>
                                    <p>Cook time : 40 mins</p>
                                    <p>Serves : 4 - 6</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr />
                        <div class="two">
                            <div class="container">
                            <div class="row">
                                <h3>Description</h3>
                                <p>This simple green salad is loaded up with zesty roasted chickpeas, cucumber,
                                    avocado, feta cheese, fresh herbs, and a tangy lemon vinaigrette.</p>
                            </div>
                        </div>
                        </div>
                        <hr />
                        <div class="three">
                            <div class="container">
                            <h3>INGREDIENTS</h3>
                            <ul>
                                <li *ngFor="let ingredient of ingredients">
                                    <p><span class="dot">.</span>{{ingredient.name}}</p>
                                </li>
                            </ul>
                            </div>
                        </div>
                        <hr/>
                       
                        <div class="four">
                            <div class="container">
                            <div class="row">
                                <h3>INSTRUCTIONS</h3>
                                <p><strong>Make the vinaigrette.</strong>Whisk all ingredients together in a small bowl (or
                                    shake all ingredients together vigorously in a sealed jar) until completely combined.</p>
                                    <p><strong>Toss the salad.</strong>Combine half of the chickpeas, lettuce, cucumbers, feta, avocado, red onion, mint and dill in a large mixing bowl. Drizzle evenly with the prepared vinaigrette and gently toss until combined.</p>
                                    <p><strong>Serve.</strong>Serve immediately, garnished with the remaining crispy chickpeas, and enjoy!
                                    </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>



