table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
    th{
        background-color: red;
        border: 1px solid red;
    }
    td {
        border: 1px solid #dddddd;
    }
    td, th {
        text-align: left;
        padding: 8px;
    }
      
    tr:nth-child(even) {
        background-color: white;
    }

 
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #D52B32;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    color: black;
  }
  
  .searchTerm:focus {
    color: #D52B32;
  }
  p{
      color: white;
  }

input {
    width: 50% !important;
    margin: 2px 0 20px 20px;
}