.center{
    display: grid;
    place-items: center;
}

.shadow{
    box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.5);
}

.quote{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/images/indian-food.webp);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}